{% extends "homebase/base.html" %}

{% block title %}yt video summarizer{% endblock %}

{% block body %}
    <h1>Welcome to text summarizer BG Summarizer</h1>
    <p>Enter the text to summarize.</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
    </form>

    <div >
        {% if text %}
        <h2>Summary generated:</h2>
        <p>{{ text }}</p>
        {% endif %}
    </div>

    

{% endblock %}
